p, h1, h2, h3, li {
  color: #044666; /*Dark Blue*/
  font-family: 'Raleway', sans-serif; /*Google font*/
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

p, li, a {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #499100; /*Dark Green*/
}

ol {
  list-style-type: square;
}

  /**** Generic and Commonly called CSS classes ****/

.attribution {
  font-size: 0.8rem;
  height: 48px;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-items{ /*center items on the vertical axis*/
  align-items: center;
}

.rel-width {
  width: 100%;
}

.upcase {
  text-transform: uppercase;
  font-size: 1.0rem;
}

.text-align-right {
  text-align: right;
}

.nowrap {
  flex-wrap: nowrap;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.border {
  border-bottom: 1.5px solid #9CEC4A; /*Bright Green*/
  border-top: 1.5px solid #9CEC4A;
}

.border-bottom-only-green {
  border-bottom: 1.5px solid #75E700;
}

.border-top-only-blue {
  border-top: 3px solid #4092BA; /*Mid level blue*/
}

.border-bottom-only-blue {
  border-bottom: 3px solid #4092BA;
}

/**** Header and Navigation ****/

header {
  position: fixed;
  max-width: 95%;
  top: 0;
  z-index: 20;
  background-color: white;
}

#logo {
  width: 25%;
  flex: 0 2 auto;
  padding-left: 1%;
}

#header-name-desc {
  width: 75%;
  flex: 1 1 auto;
  padding-right: 3%;
}

.padding-bottom {
  padding-bottom: 2.5px;
}

.logo-text {
  text-align: left;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #9CEC4A;
}

/**** Main Content Area ****/

main {
  position: relative;
  max-width: 85%;
  margin-left: 2.5%;
}

.add-margin-standard {
  margin-left: 1.5%;
}

.add-margin-more {
  margin-left: 4%;
}

.title {
  padding: 2.5px 0;
  margin: 15px 0;
}

.article-title {
  font-weight: bold;
  color: #044666;
  margin-bottom: 10px;
}

.article-img {
  height: 180px;
  padding: 0 1% 1% 0;
}

.proj-desc {
  margin-top: 10px;
  padding-bottom: 10px;
}

/**** Footer ****/

footer {
  position: relative;
}

.foot-item {
  padding-left: 10px;
  padding-top: 10px;
}
